body {
    background: url("../images/maxresdefault.jpg") no-repeat center center fixed;
    background-size: cover;}
   
    /* Абсолютное позиционирование */
html, body {
    height: 100%;
  }
  
  .page {
    position: relative;
    min-height: 100%; 
  }
  
  .page {
    position: relative;
    min-height: 100%; 
  }
  
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  
  .content {
    padding-bottom: 50px;
  }

  